:root {
    --text: #f0ede4;
    --background: #2d2d2a;
    --primary: #55868c;
    --secondary: #ed6a5a;
}

@font-face {
    font-family: "Thunder";
    src: url(./media/font/Outfit-VariableFont_wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "thunder", sans-serif;
    scroll-behavior: smooth;
}



/* header */
nav .navbar-brand {
    color: var(--secondary);
    font-size: 1rem;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;

    letter-spacing: 0.1rem;
}

nav .navbar-brand:hover {
    color: var(--text);
}

nav .nav-link {
    color: var(--background);
    font-size: 1.2rem;
    margin: 0 1rem;
    text-transform: lowercase;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

nav .nav-link:hover {
    color: var(--secondary);
}

nav {
    background-color: #D9CCB6;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .navbar-toggler {
    border: none;
    color: var(--background);
    background-color: var(--secondary);
}

nav .navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--secondary);
}



main {
    background-image: url(./media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    top: 0;
    width: 100vw;
    position: absolute;
}

.accueil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: left;

}

.titre {
    font-size: 10rem;
    text-align: left;
    color: var(--text);
    text-shadow: 3px 3px 3px var(--background);
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    letter-spacing: -8px;
}

.info {
    font-size: 1.5rem;
    text-align: left;
    color: var(--text);
    align-self: flex-start;
    color: var(--secondary);
    margin-bottom: 2rem;
    font-family: "Thunder", sans-serif;

}

.photo_moi {}

.impo {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--text);
    mix-blend-mode: difference;
    font-family: "Thunder", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 3px 3px 3px var(--background);

}

.container-propos {
    margin-top: 2rem;
    /* height: 300px;*/
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 64px;
    box-shadow: 5px 5px 15px 5px var(--background);

}


.information {
    text-align: left;
    position: relative;
    object-fit: contain;
    font-size: 1em;
    font-family: "Thunder", sans-serif;
}

.container-projets {
    margin-top: 5em;
    height: auto;
    position: relative;
    width: 100%;

}

.texte_apro {
    color: var(--secondary);
    font-weight: bold;
}

.categories {

    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;


}

.tous {
    color: var(--text);
    cursor: pointer;
    transition: 1s all ease;
}

.display_categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

}

.categorie {
    text-transform: lowercase;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    transition: 1s all ease;
    font-size: 1em;
    color: var(--text);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.categorie:hover {
    color: var(--secondary);
    cursor: pointer;
    transition: 1s all ease;
}

.active {
    color: var(--secondary);
    text-decoration: underline;
    text-underline-offset: 10px;
}



.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: scale(0.95);
    /* subtile réduction */
}

.fade-move {
    transition: transform 0.5s ease;
    /* les cartes restantes glissent doucement */
}

.all-projet {
    margin-top: 6em;
    display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
        position: relative;
        flex-grow: 1;
        align-items: flex-start;
        width: 60%;
        height: 60%;
        align-content: center;
 
}

.card-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.8;
}

.card {
    height: 100%;
    width: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card:hover .card-img {
    scale: 1.1;
    filter: brightness(50%);
    opacity: 1;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
}

.card .card-title {

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;

}

.card:hover .card-title {
    color: var(--secondary);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 5px 5px 5px var(--background);
    object-fit: contain;
    cursor: pointer;
}

.container-interets {
    width: 100%;
}

.container-contact {
    width: 50vw;
    margin: auto;

}

.information_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.container-logiciel {
    margin-top: 15rem;
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;

}

.display_logiciel {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}



.logiciel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
}

.logo_logiciel {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.logiciel:hover {
    color: var(--secondary);
    cursor: pointer;
    transition: 1s all ease;
}

.phone_project {
    display: none;
}

.container-contact .cv:hover {
    background-color: var(--secondary);
    color: var(--text);

}

.texte_contact {
    font-size: 1.2rem;
    font-family: "Thunder", sans-serif;
    color: var(--text);
    text-align: center;
}

.container-interets {
    position: relative;
    margin-top: 15rem;
    color: var(--text);

    text-align: center;
    font-family: "Thunder", sans-serif;
    height: auto;

}

.container-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;

}

.cv {
    box-shadow: 5px 5px 15px 5px var(--background);
    color: var(--text);
    padding: 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    border: none;
    transition: 0.5s all ease;
    background-color: transparent;
    color: var(--secondary);
}

svg:hover {
    fill: var(--secondary);
    cursor: pointer;
}

footer {
    background-color: var(--secondary);
    color: var(--background);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100vw;
    margin-top: 2rem;
}

.image-container {
    display: flex;
    /* Alignement horizontal */
    gap: 20px;
    /* Espacement entre les images */
    overflow: hidden;
    /* Pour cacher le débordement */
    width: 100%;
}

.image-projet img {
    width: 400px;
    /* Taille de chaque image */
    height: auto;
}

.image-projet:hover {
    transform: scale(1.05);
}

.container-propos-projet {
    margin-top: -2rem;
    width: 80%;
    position: relative;
    border-radius: 10px;
    padding: 64px;
    box-shadow: 5px 5px 15px 5px var(--background);
    display: flex;
    flex-direction: column;

}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 1000px) {

    .titre {
        font-size: 6rem;
    }

    .info {
        font-size: 1.2rem;
    }

    .display_categories {
        font-size: 0.6em;
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {

    .display_categories {
        font-size: 0.6em;
        flex-direction: row;
    }

    .pc_project {
        display: none;
    }

    .phone_project {
        display: block;
    }
    .all-projet{
        margin-top: 0;
    }
}