/* création du root pour les couleurs*/
:root {
    --text: #f0ede4;
    --background: #2d2d2a;
    --primary: #55868c;
    --secondary: #ed6a5a;
}

/* importation de la font*/
@font-face {
    font-family: "Thunder";
    src: url(./media/font/Outfit-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "inter";
    src: url(./media/font/Inter.ttf) format("truetype");
}

@font-face {
    font-family: "Instrument";
    src: url(./media/font/Instrument.ttf) format("truetype");
}

/* mettre les margin a 0, que toutes la texte est la meme font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* mettre un boule qui suit le mouvement de la souris a travers le projet*/
.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: var(--text);
    z-index: 10000;
    height: 20px;
    width: 20px;
    transition: all 100ms ease-out;
}


/* header */
nav .navbar-brand {
    color: var(--secondary);
    font-size: 1rem;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

nav .navbar-brand:hover {
    color: var(--text);
}

nav .nav-link {
    color: var(--background);
    font-size: 1.2rem;
    margin: 0 1rem;
    text-transform: lowercase;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

nav .nav-link:hover {
    color: var(--secondary);
}

nav {
    background-color: #D9CCB6;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav .navbar-toggler {
    border: none;
    color: var(--background);
    background-color: var(--secondary);
}

nav .navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--secondary);
}



/* mettre le background sur tout le site*/
main {
    background: linear-gradient(to right, #0f172a, #334155);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    top: 0;
    width: 100%;
    position: absolute;
}


.accueil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: left;

}

.titre {
    font-size: 10rem;
    text-align: left;
    color: var(--text);
    text-shadow: 3px 3px 3px var(--background);
    font-family: "Thunder", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    letter-spacing: -8px;
}

h2 sub {
    font-family: "Playfair Display", serif;
    font-size: 0.3em;
    position: relative;
    margin-left: 0.15em;
    opacity: 0.8;
    letter-spacing: 0.03em;
    top: 0.5em;
    color: var(--secondary);
    mix-blend-mode: difference;
    text-decoration-line: none;
}

.info {
    font-size: 1.5rem;
    text-align: left;
    color: var(--text);
    align-self: flex-start;
    color: var(--secondary);
    margin-bottom: 2rem;
    font-family: "Thunder", sans-serif;

}

.photo_moi {}

.impo {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--text);
    mix-blend-mode: difference;
    font-family: "Thunder", sans-serif;
    margin-bottom: 1rem;
    text-align: left;
    text-shadow: 3px 3px 3px var(--background);
    text-decoration: none;
}

.impo_projet {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--text);
    mix-blend-mode: difference;
    font-family: "Thunder", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 3px 3px 3px 0px var(--background);
    text-decoration: underline;
}

.container-propos {
    margin-top: 2rem;
    /* height: 300px;*/
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 64px;
    box-shadow: 5px 5px 15px 5px var(--text);

}


.information {
    text-align: left;
    position: relative;
    object-fit: contain;
    font-size: 1.2em;
    font-family: "inter";
    font-weight: 300;
    line-height: 1.6;
    color: var(--text);
    mix-blend-mode: difference;
    letter-spacing: 0.1px;
}

.container-projets {
    margin-top: 5em;
    height: auto;
    position: relative;
    width: 100%;

}

.texte_apro {
    color: var(--secondary);
    font-weight: bold;
}

.categories {

    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    mix-blend-mode: difference;

}

.tous {
    color: var(--text);
    cursor: pointer;
    transition: 1s all ease;
}

.display_categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

}

.categorie {
    text-transform: lowercase;
    font-family: "inter";
    font-weight: bolder;
    letter-spacing: 0.25rem;
    transition: 1s all ease;
    font-size: 1em;
    color: var(--text);
    mix-blend-mode:difference;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   
}

.categorie:hover {
    color: var(--secondary);
    cursor: pointer;
    transition: 1s all ease;
}

.active {
    color: var(--secondary);
    text-decoration: underline;
    text-underline-offset: 10px;
}



.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;

}

.fade-move {
    transition: opacity 0.5s ease-in-out;

}

.all-projet {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    width: 60%;
    height: 60%;
    align-content: center;

}

.card-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.8;
}

.card {
    height: 100%;
    width: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card:hover .card-img {
    scale: 1.1;
    filter: brightness(50%);
    opacity: 1;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
}

.card .card-title {

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;

}

.card:hover .card-title {
    color: var(--secondary);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 5px 5px 5px var(--background);
    object-fit: contain;
    cursor: pointer;
}

.container-interets {
    width: 100%;
}

.container-contact {
    width: 50vw;
    margin: auto;

}

.information_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.container-logiciel {
    margin-top: 15rem;
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;

}

.display_logiciel {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}



.logiciel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    transition: 0.5s all ease-in-out;
    mix-blend-mode: difference;
}

.logo_logiciel {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.logiciel:hover {
    color: var(--secondary);
    cursor: none;
    transition: 0.5s all ease-in-out;
}

.phone_project {
    display: none;
}

.container-contact .cv:hover {
    background-color: var(--secondary);
    color: var(--text);

}

.texte_contact {
    font-size: 1.2rem;
    font-family: "Thunder", sans-serif;
    color: var(--text);
    text-align: center;
    mix-blend-mode: difference;
}

.container-interets {
    position: relative;
    margin-top: 15rem;
    color: var(--text);

    text-align: center;
    font-family: "Thunder", sans-serif;
    height: auto;

}

.container-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;

}

.cv {
    box-shadow: 5px 5px 15px 5px var(--background);
    color: var(--text);
    padding: 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    border: none;
    transition: 1s all ease-in-out;
    background-color: transparent;
    color: var(--secondary);
}

svg:hover {
    fill: var(--secondary);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

footer {
    background-color: #D9CCB6;
    color: var(--secondary);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    font-size: 1em;
    font-family: "inter";
    font-weight: 400;
}

.image-container {
    display: flex;
    /* Alignement horizontal */
    gap: 20px;
    /* Espacement entre les images */
    overflow: hidden;
    /* Pour cacher le débordement */
    width: 100%;
}

.image-projet img {
    width: 400px;
    /* Taille de chaque image */
    height: auto;
}

.image-projet:hover {
    transform: scale(1.05);
}

.container-propos-projet {
    margin-top: -2rem;
    width: 80%;
    position: relative;
    border-radius: 10px;
    padding: 64px;
    box-shadow: 5px 5px 15px 5px var(--background);
    display: flex;
    flex-direction: column;

}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.display_proj {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
}

.accueil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: left;

}



.inf_pro {
    text-align: right;
    color: var(--secondary);
    font-family: "inter";
}

.information_logiciels {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.info_collab {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Thunder", sans-serif;
    font-weight: bolder;
    color: var(--secondary);
}

.img_pro img {
    top: 0;
    height: 110%;
    width: 100%;
    object-fit: cover;
    margin-bottom: auto;
    border-radius: 10px;
    filter: brightness(90%);
}

.img_pro {
    height: 50vh;
    margin-top: 2em;
    margin-bottom: 2em;

}

.container-proj {
    width: 60vw;
    margin-bottom: 5em;
    text-align: left;
    font-family: "inter";
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

.container-proj p {
    color: var(--text);
   
    font-size: 1.1em;

}

.container-proj h3 {
    font-family: "thunder";
    font-weight: 600;
}

.processus {
    color: var(--text);
    mix-blend-mode: difference;
}

.collab {
    color: var(--text);
    mix-blend-mode: difference;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.collab:hover {
    color: var(--secondary);
}

.image_projet {
    margin-top: 2em;
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
    position: relative;
    filter: brightness(90%);
    display: block;
    margin-left: 0;
    margin-right: auto;
    object-position: 0;
}

a.texte_apro {
    text-underline-offset: 0.5em;
    font-size: 1.5em;
}

.projet-container {
    margin-top: 8em;
    margin-bottom: 5em;

}

object {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.autre {
    font-size: 1.6em;
}

.autre_projet {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-bottom: 4em;
    position: relative;
    margin: auto;
}

.display_projet {
    margin-top: 1em;
    display: flex;
    gap: 1.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.display_projet a {
    font-family: "Instrument";
    font-size: 1.5em;
    text-decoration: none;
    color: var(--text);
    mix-blend-mode: difference;
    cursor: pointer;
}



.numero {
    font-family: "Instrument";
    font-size: 0.6em;
}



@media only screen and (max-width: 1000px) {

    .titre {
        font-size: 6rem;
    }

    .info {
        font-size: 1.2rem;
    }

    .display_categories {
        font-size: 0.6em;
        flex-direction: column;
    }

    .info_collab {
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {

    .display_categories {
        font-size: 0.6em;
        flex-direction: row;
    }

    .pc_project {
        display: none;
    }

    .phone_project {
        display: block;
    }

    .all-projet {
        margin-top: 0;
    }


}

@media only screen and (max-width: 575px) {

    .container-proj {
        width: 95vw;

    }

}



@media only screen and (max-width: 800px) {

    .information_logiciels {
        flex-direction: row;
        flex-wrap: wrap;
    }
}