/* création du root pour les couleurs*/
:root {
    --text: #f0ede4;
    --background: #2d2d2a;
    --primary: #55868c;
    --secondary: #ed6a5a;
}

/* importation de la font outfit*/
@font-face {
    font-family: "outfit";
    src: url(./media/font/Outfit-VariableFont_wght.ttf) format("truetype");
}

/* importation de la font inter*/
@font-face {
    font-family: "inter";
    src: url(./media/font/Inter.ttf) format("truetype");
}

/* importation de la font instrument*/
@font-face {
    font-family: "Instrument";
    src: url(./media/font/Instrument.ttf) format("truetype");
}

/* mettre les margin a 0, que toutes la texte est la meme font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "inter";

}

html,
body {
    overflow-x: hidden;
}


/* mettre un boule qui suit le mouvement de la souris a travers le projet*/
.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: var(--text);
    z-index: 10000;
    height: 20px;
    width: 20px;
    transition: all 100ms ease-out;
}


/* header */
nav .navbar-brand {
    color: var(--secondary);
    font-size: 1rem;
    font-family: "outfit";
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

nav .navbar-brand:hover {
    color: var(--text);
}

nav .nav-link {
    color: var(--background);
    font-size: 1.2rem;
    margin: 0 1rem;
    text-transform: lowercase;
    font-family: "inter";
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

nav .nav-link:hover {
    color: var(--secondary);
}

nav {
    background-color: #D9CCB6;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav .navbar-toggler {
    border: none;
    color: var(--background);
    background-color: var(--secondary);
}

nav .navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--secondary);
}

/* fin du header */

/* mettre le background sur tout le site*/
main {
    background: linear-gradient(to right, #0f172a, #334155);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    top: 0;
    width: 100%;
    position: absolute;
}

/* section acceuil qui est un display flex en column qui prend toute la hauteur de la page */
.accueil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: left;

}

/* affiche du nom qui s'affiche a gauche  qui a un petit text-shadow*/
.titre {
    font-size: 11rem;
    text-align: left;
    color: var(--text);
    text-shadow: 3px 3px 3px var(--background);
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: -8px;
}

/* fin du header */
.prenom,
.nom {
    font-size: 11rem;
    display: inline-block;
    font-family: "inter";
}

/* info au-dessus le nom qui est aligner a gauche*/
.info {
    font-size: 1.5rem;
    text-align: left;
    color: var(--text);
    align-self: flex-start;
    color: var(--secondary);
    margin-bottom: 2rem;
    font-family: "inter";
}

.photo_moi {}

/* classe pour les titre dans la page */
.impo {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--text);
    mix-blend-mode: difference;
    font-family: "inter", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

#propos1 {
    margin-top: 10rem;
}

/* style pour le titre a propos de moi au debut de la section a propos*/
.propos {
    font-size: 5rem;
    color: var(--text);
    font-family: "outfit";
}

/* section a propos qui sera animer avec gsap, elle sera centrer. Elle affiche un petite descirption de moi*/
.container-propos {
    margin-top: 5rem;
    width: auto;
    position: relative;
    border-radius: 10px;
    padding: 64px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* texte qui va etre dans la section a propos*/
/* va text vas etre blanc avec du letter-spacing et aligner a gauche*/
.information {
    text-align: left;
    position: relative;
    object-fit: contain;
    font-size: 1.2em;
    font-family: "inter";
    font-weight: 300;
    line-height: 1.6;
    color: var(--text);
    mix-blend-mode: difference;
    letter-spacing: 0.2px;
}

/* classe pour surligner moi dans a propos*/
.moi {
    background-color: var(--text);
    color: #0f172a;
    mix-blend-mode: difference;
}


/* section mes projets qui va contenir les projets avec un systeme de filtre par categorie*/
.container-projets {
    margin-top: 11em;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

/* titre pour la section projet sur téléhpne */
.phone_project {
    display: none;
    font-size: 4rem;
    color: var(--background);
}

/* titre pour la section projet sur pc */
.pc_project {
    font-size: 4rem;
    color: var(--background);
}

/* classe qui va etre ajouter au mot special dans le html*/
.texte_apro {
    color: var(--secondary);
    font-weight: bold;
}

/* section des categories qui va etre en display flex en column avec un gap de 3rem et centrer*/
.display_categories {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;

}

/* afiicher les catérogie du js dans un display flex en column sur pc et plustard en row sur téléphone*/
.categorie {
    text-transform: capitalize;
    font-family: "inter";
    font-weight: bolder;
    letter-spacing: 0.1rem;
    transition: 1s all ease;
    font-size: 1.3rem;
    mix-blend-mode: difference;
    text-align: right;
    display: flex;
    color: var(--background);
    justify-content: flex-end;
    flex-direction: column;

}

/* au hover sur les categorie elle change de couleur et ajoute un curseur pointer*/
.categorie:hover {
    color: var(--secondary);
    cursor: pointer;
    transition: 1s all ease;
}

/* classe active pour la categorie selectionner qui va souligner le texte et changer la couleur*/
.active {
    color: var(--secondary);
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* section qui contient les projets en display flex avec un gap de 2em et qui centre les projets avec un wrap qui fais plusieurs lignes*/
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: row;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;

}

.fade-move {
    transition: opacity 0.5s ease-in-out;

}

/* section qui contient tous les projets et les catégorie en display flex*/
.all-projet {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    width: 60%;
    height: 60%;
    align-content: center;

}

/* section des cartes*/

/* chaque projet sera mis en cartes qui auront des animations lors du hover */
.card {
    height: 100%;
    width: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* image de chaque cartes de projet qui augmentera la taille de l'image au hover*/
.card-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.8;
}

/* image de chaque cartes de projet qui augmentera la taille de l'image au hover*/
.card:hover .card-img {
    scale: 1.1;
    filter: brightness(50%);
    opacity: 1;
    transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
}

/* titre de chaque carte de projet qui apparaitra au hover*/
.card .card-title {

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

/* titre de chaque carte de projet qui apparaitra au hover*/
.card:hover .card-title {
    color: var(--secondary);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 5px 5px 5px var(--background);
    object-fit: contain;
    cursor: pointer;
}



/* section interets qui contiendra les logiciel qui prend 100% du width*/
.container-interets {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 100%;
}



/* section logiciel qui contiendra les logiciel*/
.container-logiciel {
    margin-top: 15rem;
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;

}

/* display flex pour afficher les logiciel en ligne avec un gap de 2em et centrer les logiciel*/
.display_logiciel {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

}

/* logo des logiciel avec une taille de 64px par 64px et un object-fit contain pour garder les proportions*/
.logo_logiciel {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

/* chaque logiciel sera en display flex en column centrer avec une font outfit bolder et un mix-blend-mode difference*/
.logiciel {
    display: flex;
    color: #D9D9D9;
    flex-direction: column;
    align-items: center;
    font-family: "inter";
    font-weight: thin;
    transition: 0.5s all ease-in-out;
    mix-blend-mode: difference;
    letter-spacing: 0.03em;
}

/* logo des logiciel avec une taille de 64px par 64px et un object-fit contain pour garder les proportions*/
.logo_logiciel_projet {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}


/* au hover sur les logiciel ils changent de couleur et le curseur devient none*/
.logiciel:hover {
    color: var(--secondary);
    cursor: none;
    transition: 0.5s all ease-in-out;
}

/* section interets qui contiendra les logiciel qui prend 100% du width*/
.container-interets {
    position: relative;
    margin-top: 15rem;
    color: var(--text);

    text-align: center;
    font-family: "outfit", sans-serif;
    height: auto;
}


/* section contact qui contiendra les info de contact*/
.container-contact {
    margin-top: 15rem;
    height: auto;
    position: relative;
    width: auto;
    margin-bottom: 2rem;
}



/* display flex pour afficher les info de contact en column avec un gap de 2em et centrer les info*/
.information_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}


/* cv qui sera un bouton qui m'envoie un courriel au hover il part une animation*/
.cv {

    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "inter";
    font-weight: bolder;
    font-size: 0.9rem;
    letter-spacing: 0.20rem;
    border: none;
    transition: 1s all ease-in-out;
    background-color: #D9D9D9;
    color: var(--background);
    cursor: pointer;
    width: object-fit;
}

/* au hover sur le cv il change de couleur et le background devient la couleur secondaire*/
.container-contact .cv:hover {
    background-color: var(--secondary);
    color: var(--text);

}

/* classe pour surligner unmot en différence*/
.orange {
    font-size: 2em;
    display: inline-block;
    mix-blend-mode: difference;
    background-color: #087B8B;
}

/* texte de contact qui sera centrer avec une font outfit et un mix-blend-mode difference*/
.texte_contact {
    font-size: 1.2rem;
    font-family: "inter";
    color: var(--text);
    text-align: center;
    mix-blend-mode: difference;
}









/* footer qui prendra toute la largeur en bas de page avec un background couleur primaire et du texte centrer*/
footer {
    background-color: #D9CCB6;
    color: var(--background);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    font-size: 1em;
    font-family: "inter";
    font-weight: 400;
}

/* container pour les icone du footer en display flex avec un gap de 3em et centrer les icones*/
.container-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;

}

/* svg qui change de couleur au hover*/
svg:hover {
    fill: var(--secondary);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

/* section detail projet qui contiendra les info de chaque projet*/

.container-propos-projet {
    margin-top: -2rem;
    width: 80%;
    position: relative;
    border-radius: 10px;
    padding: 64px;
    box-shadow: 5px 5px 15px 5px var(--background);
    display: flex;
    flex-direction: column;

}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* display flex pour afficher les info du projet en row-reverse avec un gap de 1rem et centrer les info*/
.display_proj {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
}

.accueil-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem 1rem;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: left;

}

.impo_projet {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--text);
    font-family: "inter", sans-serif;
    margin-bottom: 1rem;
    text-align: left;
    text-decoration: none;
}

/* info pro qui sera aligner a droite avec une font inter et une couleur secondaire*/
.inf_pro {
    text-align: right;
    color: var(--secondary);
    font-family: "inter";
}


/* information des logiciel qui sera en display flex en row avec un gap de 1rem et centrer les info*/
.information_logiciels {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

/* information de collaboration qui sera en display flex en row avec un gap de 1rem et centrer les info*/
.info_collab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: "outfit", sans-serif;
    font-weight: bolder;
    color: var(--secondary);
}

/* image du projet qui prendra toute la largeur avec un max height de 70vh et un object-fit cover pour garder les proportions*/
.img_pro img {
    top: 0;
    height: 110%;
    width: 100%;
    object-fit: cover;
    margin-bottom: auto;
    border-radius: 10px;
    filter: brightness(90%);
}

/* image du projet qui prendra 50vh de height et un margin top et bottom de 2em*/
.img_pro {
    height: 50vh;
    margin-top: 2em;
    margin-bottom: 2em;

}

/* style pour le container des differentes section du projet*/
.container-proj {
    width: 60vw;
    margin-bottom: 5em;
    text-align: left;
    font-family: "inter";
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

/* style pour le texte des differentes section du projet*/
.container-proj p {
    color: var(--text);

    font-size: 1.1em;

}

/* style pour les titre des differentes section du projet*/
.container-proj h3 {
    font-family: "outfit";
    font-weight: 600;
}

/* style pour les titre des differentes section du projet*/
.processus {
    color: var(--text);

}

/* style pour le lien de collaboration*/
.collab {
    color: var(--text);
    mix-blend-mode: difference;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.collab:hover {
    color: var(--secondary);
}

/* image du projet qui prendra toute la largeur avec un max height de 70vh et un object-fit contain pour garder les proportions*/
.image_projet {
    margin-top: 2em;
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
    position: relative;
    filter: brightness(90%);
    display: block;
    margin-left: 0;
    margin-right: auto;
    object-position: 0;
}

/* style pour le texte en a propos de moi dans la section a propos*/
a.texte_apro {
    text-underline-offset: 0.5em;
    font-size: 1.5em;
}

.projet-container {
    margin-top: 8em;
    margin-bottom: 5em;
}

object {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* titre autre projet qui sera centrer avec une font outfit et un mix-blend-mode difference*/
.autre {
    font-size: 1.6em;
}

/* section autre projet qui contiendra les autre projet en display flex en column centrer*/
.autre_projet {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 4em;
    position: relative;

}

/* display flex pour afficher les autre projet en ligne avec un gap de 1.5em et centrer les projet*/
.display_projet {
    margin-top: 1em;
    display: flex;
    gap: 1.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* style des lien des autre projet*/
.display_projet a {
    font-family: "Instrument";
    font-size: 1.5em;
    text-decoration: none;
    color: var(--text);
    mix-blend-mode: difference;
    cursor: pointer;
}


/* chaque logiciel sera en display flex en column centrer avec une font outfit bolder et un mix-blend-mode difference*/
.logiciel_projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* texte des logiciel dans la section detail projet*/
.logiciel_pro {
    font-family: "outfit";
    font-size: 1.2em;
    font-weight: 500;
}

/* titre contact qui sera centrer avec une font outfit et un mix-blend-mode difference*/
.titre_contact {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--text);
    mix-blend-mode: difference;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "inter", sans-serif;
}

/* bouton qui retourn a l'accueil*/
.retour {

    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "inter";
    font-weight: bolder;
    font-size: 0.9rem;
    letter-spacing: 0.20rem;
    border: none;
    transition: 1s all ease-in-out;
    background-color: var(--text);
    color: var(--background);
    cursor: pointer;
    width: object-fit;
}

/* au hover sur le bouton retour il change de couleur et le background devient la couleur secondaire*/
.retour:hover {
    background-color: var(--secondary);
    color: var(--text);

}

/* classe pour les titre dans la page */
.intro {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--text);
    font-family: "inter", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}


/* responsive design pour les differentes tailles d'ecran*/
@media only screen and (max-width: 1400px) {


    .display_categories {
        flex-direction: row;
        margin: auto;
        flex-grow: 2;
        align-items: center;
        justify-content: center;

    }

    .pc_project {
        display: none;
    }

    .phone_project {
        display: block;
    }

    .all-projet {
        margin-top: 0;
        margin-left: auto;
    }
}


/* responsive design pour les differentes tailles d'ecran*/
@media only screen and (max-width: 1000px) {

    .titre {
        font-size: 6rem;
    }

    .info {
        font-size: 1.2rem;
    }

    .display_categories {
        font-size: 0.6em;
        flex-direction: row;
    }

    .info_collab {
        flex-direction: column;
    }

    .pc_project {
        display: none;
    }

    .phone_project {
        display: block;
    }

    .all-projet {
        margin-top: 0;
    }

    .prenom,
    .nom {
        font-size: 10rem;

    }
}

/* responsive design pour les differentes tailles d'ecran*/
@media only screen and (max-width: 700px) {

    .display_categories {
        font-size: 0.6em;
        flex-direction: row;
    }

    .pc_project {
        display: none;
    }

    .phone_project {
        display: block;
    }

    .all-projet {
        margin-top: 0;
    }

    .phone_projet {
        display: block;
    }

    .card .card-title {
        color: var(--secondary);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        font-size: 2em;
        text-transform: uppercase;
        cursor: pointer;
        text-shadow: 5px 5px 5px var(--background);
        object-fit: contain;
        cursor: pointer;
    }

    .card .card-img {
        scale: 1.1;
        filter: brightness(50%);
        opacity: 1;
        transition: scale 0.5s ease-in-out, filter 0.1s ease-in-out, opacity 0.5s ease-in-out;
        cursor: pointer;
    }

    .prenom,
    .nom {
        font-size: 10rem;

    }
}


/* responsive design pour les differentes tailles d'ecran*/
@media only screen and (max-width: 800px) {

    .information_logiciels {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .phone_projet {
        display: block;
    }

    .prenom,
    .nom {
        font-size: 6.5rem;
        letter-spacing: 0.01rem;

    }
}

/* responsive design pour les differentes tailles d'ecran*/
@media only screen and (max-width: 575px) {

    .container-proj {
        width: 90vw;
        margin: auto;

    }

    .accueil-container {
        width: 100%
    }

    .prenom,
    .nom {
        font-size: 4rem;
        letter-spacing: 0.01rem;

    }

    /* responsive design pour les differentes tailles d'ecran*/
    @media only screen and (max-width: 575px) {

        .categorie {
            font-size: 1rem;
        }

        .intro {
            font-size: 3em;
        }

        .titre {
            font-size: 4.6rem;
            letter-spacing: 1px;
        }
    }
}